body {
  margin: 0;
  padding: 0;
  background-color: white;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
h1 {
  color: blue;
  padding-left: 30px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  text-align: left;
  margin: 0 0 20px;
}
p {
  color: black;
  padding-left: 30px;
  font-size: 15px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
